Flask==2.3.3
flask-cors==4.0.0
python-dotenv==1.0.0
gunicorn==21.2.0

openai==1.93.0
tavily-python==0.7.9

langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-openai==0.3.28
langgraph==0.5.3
